.chat-page {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.chat-logout-btn {
  height: 100%;
  padding: 0 1rem;
  border: none;
  background-color: $color-grey-dark;
  color: $color-white;
  transition: all .3s;
  cursor: pointer;
  position: absolute;
  right: 0;

  &:hover {
    background-color: $color-grey-light-2;
    color: $color-grey-dark;
  }
}

.chat-board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
}

.chat-messages-board {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow: auto;
  background-color: $color-grey-light;
}

.chat-header {
  width: 100%;
  height: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-dark;
  color: $color-white;
}

.chat-message-tab {
  width: 100%;
  min-height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input-text {
    height: 100%;
    width: 50%;
    min-width: 20rem;
    padding: 0 1rem;
    border: none;
    // border-bottom: 1px solid $color-grey-light;
    border-radius: 3px;
    background-color: $color-grey-light-2;
  }

  &__send-btn {
    height: 100%;
    width: 3rem;
    border: none;
    border-radius: 3px;
    background-color: $color-grey-dark;
    color: $color-white;
    margin-left: 1rem;
    cursor: pointer;
  }
}

.chat-sidebar {
  height: 100%;
  width: 25%;
  background-color: orangered;
}

.chat-message {
  width: fit-content;
  background-color: $color-grey-dark;
  color: $color-white;
  border-radius: 25px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  font-size: .9rem;

  &--recieved {
    background-color: $color-white;
    color: $color-grey-dark;
    align-self: flex-end;
  }
}